@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

/* CUSTOM CSS */

  * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

main p {
    margin-bottom: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
    color:white;
    font-size: 2rem;
    font-weight:600;
    background-color: rgba(255, 255, 255, 0.47);
    display: inline-block;
    width: 100%;
    margin-bottom: .5rem;
    padding: .4em 0;
}

.logo img:hover {
    animation: logo 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes logo {
    20% {
        transform:rotate(.5turn);
       }
           
    80% {
         transform: rotate(1turn);
       }
  }

header {
    background-color: #EF4767;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .4fr 1fr;
    grid-template-areas: 
    '. logo icons'
    'nav nav nav';
    padding-top: .5rem;
}

.logo {
    grid-area: logo;
    padding-left: 1.2em;
}

nav {
    grid-area: nav;
    margin-top: 1rem;
}

.header-icons {
    grid-area: icons;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.fas {
    font-size: 1.3rem;
    color: white;
}


section {
    margin-bottom: 2rem;
}

.border {
    width: 90%;
    margin: auto;
}

.quote {
    background-color: #0B758A;
    padding: 2.5em;
    text-align: center;
    color: white;
}

.fas,
blockquote,
cite {
    margin-bottom: 2rem;
}

.our-team-container {
    text-align: center;
    background-color: #FED23E;
    padding: 1em 1em .5em 1em;
    margin: 2rem 0;
    width: 380px;
}

.employee-image-container img {
    clip-path: circle();
}

.employee-image-container-1 img {
    width: 310px;
}

.employee-image-container-2 img{
    width: 370px;
}

.employee-image-container-4 img{
    width: 380px;
}

.employee-image-container-4 img {
    width: 230px;
    margin-bottom: -2rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: .5em 0;
}

footer p {
    margin-bottom: 1.8rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    a {
        background-color: transparent;
        font-weight: 700;
        font-size: 1.5rem;
    }

    header {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'logo nav icons';
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        'a1 a2 a3 a4';
    }

    .home {
        grid-area: a1;
    }

    .ice-cream {
        grid-area: a2;
    }

    .about {
        grid-area: a3;
    }

    .contact {
        grid-area: a4;
    }
    .header-icons {
        flex-direction: row;
        align-items: initial;
    }

    .fas {
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .grid-our-team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'con1 con2'
        'con3 con4';
        column-gap: 2rem;
    }

    .our-team-container {
        width: 340px;
    }
    .our-team-container-1 {
        grid-area: con1;
    }

    .our-team-container-2 {
        grid-area: con2;
    }

    .our-team-container-3 {
        grid-area: con3;
    }

    .our-team-container-4 {
        grid-area: con4;
    }

}

@media screen and (min-width: 1080px) {
    a {
        font-size: 2rem;
    }

    .fas {
        margin-top: 2.5rem;
        font-size: 1.6rem;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        'p img';
        column-gap: 3rem;
    }

    .div-about-us {
        grid-area: p;
    }

    .div-img-about-us {
        grid-area: img;
    }

    .grid-our-team {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        'con1 con2 con3 con4';
    }

}